html, body {
  height: 100%;
  margin: 0;
}
*{
  font-family: sans-serif;
}
.container{
  text-align: center;
}
.grid{
  width: 50%;
  margin: 0px auto;
}
.card{
  box-sizing: border-box;
 
  
  width: 50%;
  

  float: left;
  text-align: center;
  transition: border-color .15s ease;
}
.card-content{
  height: 6em;
  margin: 1em;
  padding: 1em;
  border: 1px solid #dfdfdf;
  border-radius: 6px;;
}
.card:hover{
  border-color: #0070f3;
}

a{
  color: #000;
  text-decoration: none;
}

a.card:hover{
  color: #0070f3;
  transition: color .15s ease;
}

.clear{
  text-align: center;
  clear: both;
}

.footer{
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid #dfdfdf;
  text-align: center;
}
